@import url('https://fonts.googleapis.com/css?family=Teko:700&display=swap');
body {
  background: #212121;
  color: white;
  font-size: 27px;
  font-family: 'Teko';
  overflow: hidden;
}

.form-control, .form-control:hover, .form-control:focus, .btn, .btn:hover, .btn:focus {
  color: white;
  height: 50px;
  background: #212121;
  border: 1px solid white;
  margin: 5px;
  outline: 0;
}

.fixed {
  position: absolute;
  bottom: 10px;
  transform: translate(-50.5%, 0);
  width: 100vw;
}

.my_container {
  height: 100vh;
}