@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:900&display=swap');
body {
  background: #212121;
  color: white;
  font-size: 21px;
  font-family: 'Darker Grotesque'
}

.form-control, .form-control:hover, .form-control:focus, .btn, .btn:hover, .btn:focus {
  color: white;
  background: #212121;
  border: 1px solid white;
  margin: 5px;
  outline: 0;
}